div{
    width:350px;
    height: 200px;
    margin:100px 0px 0px 100px;
    background-color:green;
}
img{
    widows: 100px;
    height:100px;
    margin:-40px 0px 0px 115px;
}
img{ 
    -webkit-animation: 'rotatel' 3s linear infinite ; 
    animation: 'rotatel' 3s linear infinite ; 
} 
@-webkit-keyframes rotatel{ 
    from{transform:rotate(Odeg);} 
    to{transform:rotate(360deg);} 
} 
@keyframes rotatel{ 
    from{transform:rotate(Odeg);} 
    to{transform:rotate(360deg);} 
} 
